* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Product Sans Regular", sans-serif;
  font-size: 100%;
}

@-moz-document url-prefix() {
  h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
  }
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Poppins Medium";
  font-size: 100%;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

form {
  margin: 0;
  padding: 0;
}

.content-loader, .icon-container-loader, .loader-line {
  background-color: #e4e5e9;
  background-image: linear-gradient(to right, #e4e5e9 0%, #f5f5f5 20%, #e4e5e9 40%, #e4e5e9 100%);
  background-size: 28.125rem 25rem;
  background-repeat: no-repeat;
  animation: shimer 1s linear infinite;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins Semi Bold";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "Product Sans Regular";
  src: url("../fonts/ProductSans-Regular.eot");
  src: url("../fonts/ProductSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProductSans-Regular.woff2") format("woff2"), url("../fonts/ProductSans-Regular.woff") format("woff"), url("../fonts/ProductSans-Regular.ttf") format("truetype"), url("../fonts/ProductSans-Regular.svg#ProductSans-Regular") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "Product Sans Bold";
  src: url("../fonts/ProductSans-Bold.eot");
  src: url("../fonts/ProductSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProductSans-Bold.woff2") format("woff2"), url("../fonts/ProductSans-Bold.woff") format("woff"), url("../fonts/ProductSans-Bold.ttf") format("truetype"), url("../fonts/ProductSans-Bold.svg#ProductSans-Bold") format("svg");
  font-weight: normal;
}
.nav-menu__item span {
  font-size: 0.95rem;
}
.nav-menu__link {
  text-align: left;
  color: #e4e5e9;
}
.nav-menu__link.current {
  color: #2f374c;
}
.nav-menu__link:not(.current):hover {
  color: #fff;
}

.page-title {
  font-size: 1.25rem;
  color: #595f70;
}

.fullname {
  color: #86d182;
}

.user-role {
  color: #f77d4c;
}

genus-data-card {
  --card-title-font-family: "Poppins Semi Bold";
  --card-title-font-size: 0.9rem;
  --card-title-color: #595f70;
  --card-text-font-family: "Product Sans Regular";
  --card-text-font-size: 1rem;
  --card-text-color: #999999;
}

genus-chart {
  --chart-title-font-family: "Poppins Semi Bold";
  --chart-title-font-size: 1rem;
  --chart-title-color: #595f70;
}

genus-table {
  --table-title-font-family: "Poppins Semi Bold";
  --table-title-font-size: 1rem;
  --table-title-color: #595f70;
  --th-font-family: "Product Sans Regular";
  --th-font-color: #2f374c;
  --th-font-size: 0.95rem;
}

genus-textbox, genus-date-picker, genus-dropdown {
  --input-label-font-family: "Product Sans Regular";
  --input-label-font-size: 0.9rem;
  --input-label-color: #70747e;
  --input-font-color: #2f374c;
}

genus-textarea {
  --textarea-label-font-family: "Product Sans Regular";
  --textarea-label-font-size: 0.9rem;
  --textarea-label-color: #70747e;
  --textarea-font-color: #2f374c;
}

genus-checkbox-group, genus-radiobtn-group {
  --group-label-font-family: "Product Sans Regular";
  --group-label-font-color: #70747e;
  --label-text-font-color: #2f374c;
}

genus-checkbox-group {
  --checked-checkbox-label-font-color: #fff;
}

genus-radiobtn-group {
  --checked-radio-button-font-color: #fff;
}

.footer-inner {
  font-size: 0.9rem;
}
.footer-inner p {
  color: #404653;
}
.footer-inner a {
  color: #2f374c;
  font-family: "Poppins Medium";
}

.card__head__title {
  font-size: 1.25rem;
  color: #2d2d2d;
}

.input-card .card__head__title,
.form-card .card__head__title,
.profile-card .card__head__title,
.payment-card .card__head__title {
  font-family: "Poppins Semi Bold";
  font-size: 1rem;
  font-weight: normal;
  color: #595f70;
}

genus-tab-container {
  --tab-font-family: "Poppins Medium";
  --tab-font-size: 0.9rem;
  --tab-font-color: #fff;
  --active-tab-font-color: #2f374c;
}

.empty-state-text {
  font-size: 0.85rem;
  color: #999999;
}

.error-text {
  color: red;
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 1rem;
}

.loader-line, .icon-container-loader, .content-loader {
  background-color: #e4e5e9;
  background-image: linear-gradient(to right, #e4e5e9 0%, #f5f5f5 20%, #e4e5e9 40%, #e4e5e9 100%);
  background-size: 28.125rem 25rem;
  background-repeat: no-repeat;
  animation: shimer 1s linear infinite;
}

.app-container {
  position: relative;
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  top: 0;
  padding-bottom: 2rem;
  height: 100dvh;
  background: #2f374c;
  grid-area: sb;
}

.logo-container {
  height: 6.25rem;
}
.logo-container .logo {
  width: 11rem;
  height: 5rem;
  background: center/contain no-repeat url("../images/logo.png");
}

.content-container {
  background: #fafafa;
  grid-area: cc;
}

.main-content {
  flex: 1 0 auto;
  padding-top: 1.25rem;
}

.section {
  grid-column: 1/-1;
}

.filter-content {
  position: relative;
}

genus-data-card {
  --datacard-padding: 1rem;
  --datacard-background-color: #fff;
  --icon-container-background-color: #86d182;
}

.total-data-card {
  --icon-container-background-color: rgba(163, 196, 231, 0.2);
}

.active-data-card, .approved-data-card {
  --icon-container-background-color: rgba(163, 231, 195, 0.2);
}

.inactive-data-card, .rejected-data-card {
  --icon-container-background-color: rgba(252, 217, 217, 0.2);
}

.suspended-data-card, .pending-data-card {
  --icon-container-background-color: rgba(255, 247, 205, 0.2);
}

genus-chart {
  --chart-head-border: none;
  --chart-body-border: none;
}

.inner-content {
  height: 100%;
  margin: 0 auto;
  padding: 0 1.875rem;
}
@media (min-width: 48em) {
  .inner-content {
    max-width: 45rem;
  }
}
@media (min-width: 62em) {
  .inner-content {
    max-width: 60rem;
  }
}
@media (min-width: 75em) {
  .inner-content {
    max-width: 71.25rem;
  }
}
@media (min-width: 87.5em) {
  .inner-content {
    max-width: 82.5rem;
  }
}

.content-loader {
  width: -webkit-fill-available;
  height: 25rem;
  border-radius: 0.625rem;
}

.data-card-loader {
  border-radius: 0.625rem;
  padding: 1rem;
  background: #f5f5f5;
  flex: 1 1 auto;
}

.icon-container-loader {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.625rem;
  grid-area: ic;
}

.loader-line {
  height: 0.625rem;
  border-radius: 0.1875rem;
}
.loader-line-1 {
  width: 80%;
  align-self: end;
  grid-area: tll;
}
.loader-line-2 {
  width: 100%;
  grid-area: bll;
}

@keyframes shimer {
  0% {
    background-position: -28.125rem 0;
  }
  100% {
    background-position: 28.125rem 0;
  }
}
.modal-content {
  padding: 1.5rem;
  border-radius: 0.375rem;
  background: #fff;
  width: 100%;
}
.modal-container {
  position: absolute;
  right: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  width: -moz-max-content;
  width: max-content;
  transform: translate3d(0, 5rem, 0px);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.modal-container--show {
  transform: translate3d(0, 1rem, 0);
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.modal-content__body > * {
  grid-column: 1/-1;
}

.card {
  grid-area: 1/3/-1/11;
}
.card__head {
  padding: 1.25rem 1.875rem;
  border-radius: 0.375rem 0.375rem 0 0;
  border: 0.0675rem solid #f0f1f2;
  border-bottom: none;
}
.card__body {
  padding: 0 1.875rem 1.25rem;
  border: 0.0675rem solid #f0f1f2;
  border-radius: 0 0 0.375rem 0.375rem;
  border-top: none;
}
.card__head, .card__body {
  background: #fff;
  border: none;
}

.input-card .card__head, .input-card .card__body, .profile-card .card__head, .profile-card .card__body {
  background: #fff;
  border: none;
}

.component-content .card, .form-content .card {
  grid-area: unset;
}

.empty-state-container {
  grid-column: 1/-1;
}
.empty-state-illustration {
  width: 4rem;
  height: 4rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 47, 47, 0.6);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
}
.overlay.show {
  opacity: 1;
  z-index: 1;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "sb sb cc cc cc cc cc cc cc cc cc cc";
}

.main-content-inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: max-content;
  grid-gap: 1.875rem;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
}

.modal-content__body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content;
  grid-column-gap: 1rem;
  grid-row-gap: 0.9375rem;
}

.data-card-loader {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-areas: "ic tll" "ic bll";
}

.menu-item-label {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 0.5rem;
  align-items: center;
}

.action-form, .profile-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5625rem;
  grid-row-gap: 1.875rem;
}

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.9375rem));
  grid-column-gap: 1.875rem;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.875rem;
}

.content-container, .input-card .card__body > * {
  display: flex;
  flex-direction: column;
}

.empty-state-container {
  display: flex;
  align-items: center;
  row-gap: 0.5rem;
  flex-direction: column;
}

.header-inner, .footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-menu__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.data-cards-section {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  flex-wrap: wrap;
}
.data-cards-section > * {
  flex: 1 0 calc(25% - 1.875rem);
}

.form-card .card__body {
  display: flex;
  row-gap: 1.25rem;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-controls {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.modal-content {
  display: flex;
  row-gap: 1.875rem;
  flex-direction: column;
}

.buttons, .action-buttons {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.header {
  width: -webkit-fill-available;
  height: 6.25rem;
}

.logo {
  width: 15rem;
}

.nav-menu {
  margin-top: 2rem;
  padding: 0 1.25rem;
}
.nav-menu__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.nav-menu__link {
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.4s linear;
}
.nav-menu__link.current {
  background: #86d182;
}
.nav-menu__link:not(.current):hover {
  background: #f77d4c;
}
.nav-menu__link span {
  pointer-events: none;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, margin-top 0.4s;
  margin-top: 0;
}
.sub-menu__item a {
  background: #f77d4c;
  color: #fff;
  padding: 0.6rem 0.8rem;
}
.sub-menu__item:first-child a {
  border-radius: 0.5rem 0.5rem 0 0;
}
.sub-menu__item:last-child a {
  border-radius: 0 0 0.5rem 0.5rem;
}
.sub-menu__item:not(:last-child) {
  border-bottom: 0.00625rem solid #595f70;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table > * {
  margin: 0;
  padding: 0;
}
table thead {
  background: #6158a5;
}
table thead th {
  color: #fff;
  font-weight: 500;
}
table thead th:last-child {
  text-align: center;
}
table thead th, table tbody td {
  padding: 1rem 1.875rem;
  text-align: left;
}
table tbody tr {
  color: #5e5e5f;
}
table tbody tr:not(:last-child) {
  border-bottom: 0.0675rem solid #f0f1f2;
}
table tbody tr:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}
table tbody tr td:last-child {
  text-align: center;
}

genus-table {
  --card-head-border: none;
  --card-body-border: none;
  --card-footer-border: none;
  --thead-background-color: #86d182;
}

.logout-form {
  padding: 0 1.25rem;
}

.footer {
  padding: 1.25rem 0;
  height: 6.25rem;
}

.button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.9rem;
  text-align: center;
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.875rem;
}
.button:focus {
  outline: none;
}
.button:hover {
  cursor: pointer;
}
.button--primary {
  background: #f77d4c;
  color: #fff;
}
.button--secondary {
  background: #2f374c;
  color: #fff;
}

.filter-controls .button {
  padding: 0.65rem 1rem;
}
.filter-button {
  padding: 0.6rem 0.7rem !important;
  border-radius: 0.375rem;
}

.logout-button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 0.95rem;
}
.logout-button:hover {
  cursor: pointer;
}

.form-button {
  width: -webkit-fill-available;
}

.register-button {
  grid-column: 1/-1;
}

.buttons > * {
  width: -webkit-fill-available;
}

.icon {
  width: 1.5625rem;
  height: 1.5625rem;
}

.menu-icon {
  font-size: 1.15rem;
}

input[type=text], input[type=email] {
  border: none;
  padding: 1.125rem 0.9375rem;
  background: #f5f5f5;
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.9rem;
}
input[type=text]:focus, input[type=email]:focus {
  outline: none;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder {
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.75rem;
  color: #f5f5f5;
}
input[type=text]::placeholder, input[type=email]::placeholder {
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.75rem;
  color: #f5f5f5;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder {
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.75rem;
  color: #f5f5f5;
}

@-moz-document url-prefix() {
  input[type=text], input[type=email] {
    width: -moz-available;
  }
}
genus-textbox, genus-date-picker {
  --input-background-color: none;
  --icon-container-background-color: none;
  --input-border: 0.0625rem solid #cfd1d4;
  --icon-container-border: 0.0625rem solid #cfd1d4;
  --input-padding: 0.8rem;
}

textarea {
  border: none;
  padding: 1.125rem 0.9375rem;
  background: #f5f5f5;
  resize: none;
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.9rem;
}
textarea:focus {
  outline: none;
}
textarea::-moz-placeholder {
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.75rem;
  color: #f5f5f5;
}
textarea::placeholder {
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.75rem;
  color: #f5f5f5;
}
textarea::-moz-placeholder {
  font-family: "Product Sans Regular", sans-serif;
  font-size: 0.75rem;
  color: #f5f5f5;
}

genus-textarea {
  --textarea-background-color: none;
  --textarea-border: 0.0625rem solid #cfd1d4;
  --textarea-padding: 0.8rem;
}

genus-dropdown {
  --input-background-color: none;
  --icon-container-background-color: none;
  --input-border: 0.0625rem solid #cfd1d4;
  --icon-container-border: 0.0625rem solid #cfd1d4;
  --input-padding: 0.8rem;
  --search-container-background-color: #86d182;
}

input[type=checkbox] {
  display: none;
}

.menu-item-checkbox:checked ~ .sub-menu {
  max-height: 8rem;
  margin-top: 0.5rem;
}
.menu-item-checkbox:checked + .menu-item-label {
  background: #86d182;
  color: #2f374c;
  font-family: "Product Sans Bold";
}
.menu-item-checkbox:checked + .current {
  background: #86d182;
  color: #2f374c;
}

genus-checkbox-group {
  --checkbox-label-background-color: #86d182;
  --checked-checkbox-background-color: #2f374c;
  --checkbox-label-padding: 0.8rem 0.75rem;
}

.menu-item-label {
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.4s linear;
  color: #e4e5e9;
}
.menu-item-label:hover {
  cursor: pointer;
  background: #f77d4c;
  color: #fff;
}
.menu-item-label.current {
  background: #86d182;
  color: #2f374c;
}

genus-tab-container {
  --tab-background-color: #2f374c;
  --active-tab-background-color: #86d182;
}

genus-radiobtn-group {
  --radiobtn-label-background-color: #86d182;
  --checked-radio-button-background-color: #2f374c;
  --radiobtn-label-padding: 0.8rem 0.75rem;
}

.gender-group, .abilities-group {
  --flex: 1 0 auto;
}

.charts-section > * {
  --chart-head-padding: 1.25rem 1rem;
  --chart-body-padding: 0 1rem 1.2rem;
}

.input-card .card__body > *:not(:last-child) {
  margin-bottom: 0.9rem;
}

.registion-form-card {
  grid-area: 1/3/-1/11;
}

genus-textarea {
  grid-column: 1/-1;
}

.profile-card {
  grid-area: 1/3/-1/11;
}

.bills-category-section > * {
  --card-text-font-size: 0.85rem;
}/*# sourceMappingURL=style.css.map */