---
import Layout from "@src/layouts/layout.astro";
import { header, specificColumns } from "@controllers/beneficiaries.controllers";
import beneficiaries from '@src/data/beneficiaries.json';
import BeneficiariesTable from "@components/beneficiaries-table.svelte";
import 'genus-ui';
---

<Layout title="Beneficiaries">
    <div class="main-content-inner inner-content">
        <div class="beneficiarires-section section">
            <BeneficiariesTable
                headers={header}
                beneficiaries={JSON.stringify(beneficiaries)} 
                specificColumns={specificColumns}                
                client:only="svelte"
            />
        </div>
    </div>
</Layout>