---
import Layout from "@src/layouts/layout.astro";
import PlatformActivities from "@components/charts/platform-activities.svelte";
import MonthlyExpensesChart from '@components/charts/monthly-expenses.svelte';
import Transactions from "@components/charts/transactions.svelte";
---

<Layout title="Charts">
    <div class="main-content-inner inner-content">
        <div class='charts-section two-column-grid section'>
            <PlatformActivities client:only="svelte" />

            <MonthlyExpensesChart client:only="svelte" />
        </div>

        <div class='transactions-section section'>
            <Transactions client:only="svelte" />
        </div>
    </div>
</Layout>