@use '../abstracts/_variables' as *
    
.button
    border: none
    border-radius: 0.5rem
    padding: 0.9rem
    text-align: center
    font:
        family: $stack-product-sans-regular, $stack-sans-serif
        size: 0.875rem

    // width: -webkit-fill-available

    &:focus
        outline: none

    &:hover
        cursor: pointer

    &--primary
        background: $coral
        color: $snow-white

    &--secondary
        background: $oxford-blue
        color: $snow-white

.filter
    &-controls .button
        padding: 0.65rem 1rem

    &-button
        padding: 0.6rem 0.7rem !important
        border-radius: 0.375rem

.logout-button
    width: 100%
    text-align: left
    background: none
    border: none
    font-size: 0.95rem

    &:hover
        cursor: pointer  

.form-button
    width: -webkit-fill-available

.register-button
    grid-column: 1 / -1

.buttons > *
    width: -webkit-fill-available