@use '../abstracts' as *
    
.button
    border: none
    padding: 1rem
    text-align: center
    font:
        family: $stack-custom-name, $stack-sans-serif
        size: 0.875rem

    &:focus
        outline: none
