@use '../abstracts/_variables' as *

input[type='checkbox']
    display: none

.menu-item-checkbox:checked 
    & ~ .sub-menu
        max-height: 8rem
        margin-top: 0.5rem

    & + .menu-item-label
        background: $de-york
        color: $oxford-blue
        font-family: $stack-product-sans-bold
            
    
    & + .current
        background: $de-york
        color: $oxford-blue

genus-checkbox-group
    --checkbox-label-background-color: #86d182
    --checked-checkbox-background-color: #2f374c
    --checkbox-label-padding: 0.8rem 0.75rem
            