@use '../abstracts/_variables' as *

.menu-item-label
    padding: 0.6rem 0.8rem
    border-radius: 0.5rem
    transition: all .4s linear
    color: $athens-gray

    &:hover
        cursor: pointer
        background: $coral
        color: $snow-white

    &.current
        background: $de-york
        color: $oxford-blue

genus-tab-container
    --tab-background-color: #2f374c
    --active-tab-background-color: #86d182