<div class="footer">
    <div class="footer-inner inner-content">
        <p>&copy; 2024 Fintech Admin Template. All rights reserved</p>
        <a href='https://genus-ui-doc.netlify.app/' target='_blank'>Genus UI Documentation</a>
    </div>
</div>