---
const { title } = Astro.props;
---

<div class="header">
    <div class="header-inner inner-content">
        <h2 class="page-title">{title}</h2>
        
        <div class="user-details">
            <h4 class="fullname">Full Name</h4>
            <p class="user-role">Super Admin</p>
        </div>
    </div>
</div>