---
import Layout from "@src/layouts/layout.astro";
import { headers, specificColumns } from "@controllers/loans.controller";
import loanApplications from '@data/loan-applications.json';
import renderStatusHtml from "@utils/status";

loanApplications.forEach(loanApplication => { loanApplication['status_html'] = renderStatusHtml(loanApplication.status)});

let applications = [...loanApplications];
---

<Layout title="Loan Applications">
    <div class="main-content-inner inner-content">
        <div class="data-cards-section section">
            <genus-data-card class='total-data-card' card-title='Loan Applications' card-value='40' data-card-icon='svg/total document.svg'></genus-data-card>
            
            <genus-data-card class='approved-data-card' card-title='Approved Applications' card-value='20' data-card-icon='svg/approved document.svg'></genus-data-card>
            
            <genus-data-card class='rejected-data-card' card-title='Rejected Applications' card-value='10' data-card-icon='svg/rejected document.svg'></genus-data-card>
            
            <genus-data-card class='pending-data-card' card-title='Pending Applications' card-value='10' data-card-icon='svg/pending document.svg'></genus-data-card>
        </div>

        <div class="loan-application-section section">
            <genus-table 
                table-title="Applications" 
                table-headers={headers}
                specific-columns={specificColumns}
                data-source={JSON.stringify(applications)}>
                <div class="filter-controls" slot="filter-controls">
                    <button class="filter-button button button--secondary">
                        <i class="iconly-Filter icbo"></i>
                    </button>

                    <a href="/loan-apps/new" class="button button--primary" target="_blank">Apply for loan</a>
                </div>            
            </genus-table>
        </div> 
    </div>
</Layout>