$margin: 0
$padding: 0

$stack-poppins-medium: 'Poppins Medium'
$stack-poppins-semi-bold: 'Poppins Semi Bold'
$stack-product-sans-regular: 'Product Sans Regular'
$stack-product-sans-bold: 'Product Sans Bold'
$stack-sans-serif: sans-serif

$victoria: #4f459b
$medium-purple: #a675ea
$mauve: #f79ef8
$athens-gray: #eaebed

//Status Colours
$blue: #4b77d7
$scarlet: #ff311a
$mountain-meadow: #19c368
$gold: #ffd504

//Tints and Shades
$deluge: #726aaf
$blue-bell: #958fc3
$lavender-gray: #b9b5d7
$whisper: #edecf5

$biloba-flower: #b891ee
$perfume: #caacf2
$moon-raker: #dbc8f7
$selago: #f6f1fd

$jacarta: #2f295d
$fuchsia-blue: #855ebb
$affair: #64468c
$viola: #c67ec6
$trendy-pink: #945f95

//Gray Scale
$snow-white: #fff
$silver: #cccccc
$dusty-gray: #999999
$dove-gray: #666666
//$athens-gray: #e4e5e9
$wild-sand: #f5f5f5

$alabaster: #fafafa
$black-squeeze: #f4f7fb

$ebony: #101828
$mako: #404653
$pale-sky: #70747e
$gray-chateau: #9fa3a9
$iron: #cfd1d4

$font-path: '../fonts'
$image-path: '../images'

$break-sm: '(min-width: 36em)' //Smart phones in landscape mode
$break-md: '(min-width: 48em)' //Tablets
$break-lg: '(min-width: 62em)' //Large Desktops (Normal)
$break-xl: '(min-width: 75em)' //Extra Large Desktops
$break-xxl: '(min-width: 87.5em)' //Extra (x2) Large Desktops

$break-max-sm: '(min-width: 35.99875em)'
$break-max-md: '(max-width: 47.99875em)'
$break-max-lg: '(max-width: 61.99875em)'
$break-max-xl: '(max-width: 74.99875em)'
$break-max-xxl: '(max-width: 87.49875em)'
